.u-column1 {
  display: flex;
  width: 592px;
  padding: 48px 0px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 128px;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.5);
  h2 {
    color: var(--Black, #0a0a0a);
    /* H3 */
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  label {
    margin-bottom: 2px;
    margin-left: 4px;
    color: var(--Gray, #6a6b7a);
    /* 14/Regular */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
    letter-spacing: 0.07px;
    width: 100%;
  }

  input::placeholder {
    color: var(--Light-Gray, var(--darkmode-gray, #9b9cb2));
    /* 14/Regular */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
    letter-spacing: 0.07px;
  }

  .woocommerce-form-login__submit {
    margin-top: 8px;
  }

  .required {
    display: none;
  }

  /* BG Blur */
  backdrop-filter: blur(7.5px);
  display: flex;
  width: 592px !important;
  padding: 48px 146px;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  & input {
    display: flex;
    height: 48px;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--White, #fffefe);
    border: none;
    width: 100%;
  }

  & .woocommerce-privacy-policy-text {
    display: none;
  }

  & .woocommerce-Button {
    width: 100%;
    color: var(--White, #fffefe);
    /* 16/Medium */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.08px;
    display: flex;
    height: 48px;
    padding: 12px 0px 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 12px;
    background: var(--Black, #0a0a0a);
  }

  & .button-arrow-black {
    width: 100%;
    justify-content: center;
    border: none;
  }
}
