.footer{
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    gap: 32px;
    & .footer__top{
        display: flex;
        flex-direction: row;
        gap: 32px;
        & .footer__top-left{
            // width: 384px;
            display: flex;
            flex-direction: column;
            gap: 24px;

            & .footer__top-left--elements{
                display: flex;
                flex-direction: column;
                gap: 32px;

                & p{
                    color: var(--Black, #0A0A0A);
                    /* 14/Regular */
                    width: 60%;
                    font-family: 'Poppins', sans-serif;;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%; /* 22.4px */
                    letter-spacing: 0.07px;
                }
            }
        }
        & .footer__top-right{
            // width: auto;
            display: flex;
            flex-direction: row;
            gap: 32px;

            & .footer__top-right--nav-link{
                display: flex;
                flex-direction: column;
                gap: 12px;

                & a{
                    color: var(--Black, #0A0A0A);
                    text-decoration: none;
                    /* 14/Regular */
                    font-family: 'Poppins', sans-serif;;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%; /* 22.4px */
                    letter-spacing: 0.07px;
                }

                &:nth-child(1), &:nth-child(2){
                    width: 176px;
                }
                &:nth-child(3){
                    width: 280px;
                }
            }

            
        }
    }

    & .footer__bottom{
        padding-top: 16px;
        border-top: 1px solid var(--Accent, #E2A4FF);
    }
}